<section class="Form my-4 mx-5">
<div class="container">
    <div class="row no-gutters"></div>
    <div class="row">
    <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3" href="#" >Meals-a-Day</h1>
        <form>
           <div class="form-row">
            <input type="email" placeholder="Email-Address" class="form-control">
           </div>
           
           <div class="form-row">
            <input type="password" placeholder="********" class="form-control">
           </div>  
           
           <div class="form-row">
            <div class="col-lg-7">
            <button type="button" class="btn1">Login</button>
           </div> 
           <p>Don't have an account? <a href="#">Register here</a> </p>
        </form>
    </div>

    </div>
</div>
</section>
    </div>

    <script src="/js/login.js"></script>
