<section class="Form my-4 mx-5">
<div class="container">
    <div class="row no-gutters"></div>
    <div class="row">
    <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3" href="#" >Meals-a-Day</h1>
        <form class="login-form">
           <div class="form-row">
            <input id ="email-login" type="email" placeholder="Email-Address" class="form-control">
           </div>
           
           <div class="form-row">
            <input id ="password-login" type="password" placeholder="********" class="form-control">
           </div>  
           
           <div class="form-row">
            <div class="col-lg-7">
            <button type="submit" class="btn1">Login</button>
           </div> 
        </form>
    </div>

    </div>
</div>
</section>
<section class="Form my-4 mx-5">
<div class="container">
    <div class="row no-gutters"></div>
    <div class="row">
    <div class="col-lg-7 px-5 pt-5">
        <h1 class="font-weight-bold py-3" href="#" >Sign Up Now</h1>
        <form class="register-form">
           <div class="form-row">
            <input class="form_input" type="text" id ="email-register" type="email" placeholder="Email-Address"/>
           </div>
           
           <div class="form-row">
            <input class="form_input" type="password" id ="password-register" type="password" placeholder="********"/>
           </div>  
           
           <div class="button-form-row">
            <div class="col-lg-7">
            <button type="submit" class="btn1">register</button>
           </div> 
        </form>
    </div>

    </div>
</div>
</section>
 <script src="/js/login.js"></script>
