<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row no-gutters"></div>
    <div class="row">
      <div class="col-lg-14 px-5 pt-10">
        {{! title in the top right corner }}
        <h1 class="font-weight-bold py-3" href="#">Record Your Food!</h1>
        <form class="register-form">
          <div class="form-outline">
            <textarea
              class="form-control"
              id="textAreaExample"
              rows="4"
            ></textarea>
            <label class="form-label" for="textAreaExample">Message</label>
          </div>
        </form>
      </div>
      <div class="button-form-row">
            <div class="col-lg-7">
      <button type="submit" class="btn1">Show Nutritional Data</button>
    </div>
  </div>
</section>
<script src="/js/profile.js"></script>